<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Account Page</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class = "container-fluid" id="app">
            <div v-if="userData != null" id = "user">
                <p>Username: {{userData.Username}}</p>
                <p>Email: {{userData.Email}}</p>
                <p>Name: {{userData.fname}} {{userData.lname}}</p>
                <div v-if="userData.manager == 1">
                    <p>You are a manager</p>
                </div>
            </div>
        </div>
        <script src = "/static/js/connector.js" type = "application/JavaScript"></script>
    </body>
</html>