<!DOCTYPE html>
<html>
  <head>
    <title>Shop Items</title>
  </head>
  <body>
    <div class="container-fluid" id="app">
      <div class="jumbotron jumbotron-fluid text-center">
        <h1>Cart<sup><small>Crash out?</small></sup></sup></h1>
        <p><em>View your items</em></p>
        <a href = "/store"><button class="utilityBtn text-success">Back to Store</button></a>
        <a href = "/account"><button class="utilityBtn text-success">Go To Account</button></a>
        <a href = "/dev"><button class="utilityBtn text-success">API</button></a>
        <button class="utilityBtn text-danger" click="logout()">Log Out</button>
      <div class="text-center">
        <!--<button type="button" class="btn btn-outline-primary" v-on:click="fetchItems()">List schools</button>-->
      </div>
    <div>
      <div v-if="cartData != null && !cartModal" id="cartList">
        <ul class="list-group">
          <div v-for="cart in cartData">
            <li class="list-group-item col-7 mx-auto">
              <div class="d-flex w-30">
                <p>Item name: {{cart.itemName}}, quantity: {{cart.quantity}}</p>
                <div call="btn-group-xs">
                  <button class="utilityBtn text-success" v-on:click="selectCartItem(cart.itemId)">Change quantity</button>
                  <button class="utilityBtn text-danger" v-on:click="removeFromCart(cart.itemId)">Remove item</button>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div v-if="!cartModal">
      <button class="btn-outline-danger" v-on:click="clearCart()">Clear cart</button>
    </div>
    <div v-if="cartModal" @close="hideCartModal">
      <div slot="header" class="modal-header">
        Change quantity
      </div>
      <div slot="body">
        <div class="form-group col-6">
          <label for="quantity">Quantity</label>
          <input type="number" id="quantity" name="quantity"><br>
          <button class="utilityBtn text-success" v-on:click="updateCartQuantity(selectedCart.itemId)">Change quantity</button>
          <br><br><p id="quantityResponse"></p>
        </div>
        <div slot="footer">
          <button type="button" class="btn btn-secondary" v-on:click="hideCartModal()">Close</button>
        </div>
      </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/connector.js" ></script>
  <!--<link rel="stylesheet" href="/static/schools.css"/>-->
</body>
</html>