<!DOCTYPE html>
<html>
  <head>
    <title>Shop Items</title>
  </head>
  <body>
    <div class="container-fluid" id="app">
      <div class="jumbotron jumbotron-fluid text-center">
        <h1>Welcome to the Shop<sup><small>not a real company!</small></sup></sup></h1>
        <p><em>View our items</em></p>
        <a href = "/account"><button class="utilityBtn text-success">Go To Account</button></a>
        <a href = "/cartpage"><button class="utilityBtn text-success">To Cart</button></a>
        <button class="utilityBtn text-success" v-if="userData != null && userData.manager == 1" v-on:click="createItem()">Add item</button>
        <button class="utilityBtn text-danger" v-if="userData != null" onClick="logout()">Log Out</button><br><br>
        <div v-if="!editModal && !addModal && !cartModal && !reviewModal">
            <h3>Search Filters</h3>
            <label class = "form-label" for = "searchBar">Item name</label>
            <input type = "search" id = "searchBar"><br>
            <label class = "form-label" for = "minPrice">Show items from a minimum price </label>
            <input type = "number" id = "minPrice">
            <label class = "form-label" for = "maxPrice"> to a maximum price </label>
            <input type = "number" id = "maxPrice"><br>
            <label class = "form-label" for = "minStock">Show items from a minimum availability </label>
            <input type = "number" id = "minStock">
            <label class = "form-label" for = "maxStock"> to a maximum availability </label>
            <input type = "number" id = "maxStock"><br><br>
            <button class = "utilityBtn btn-lg" v-on:click = "fetchItems()">Search</button><br><br>
        </div>
        <!--Review Filters-->
        <div v-if="reviewModal">
            <label class = "form-label" for = "minRating">Show reviews from a minimum rating </label>
            <input type = "number" id = "minRating">
            <label class = "form-label" for = "maxRating"> to a maximum rating </label>
            <input type = "number" id = "maxRating"><br>
            <button class = "utilityBtn btn-lg" v-on:click = "fetchReviews()">Search</button><br><br>
        </div>
      <div class="text-center">
        <!--<button type="button" class="btn btn-outline-primary" v-on:click="fetchItems()">List schools</button>-->
      </div>
    <div>
      <!--hide item page upon edit click-->
      <div v-if="ItemsData != null && !editModal && !addModal && !cartModal && !reviewModal 
      && !addReviewModal" id="itemsList">
        <ul class="list-group">
          <div v-for="Items in ItemsData">
            <li class="list-group-item col-7 mx-auto">
              <div class="d-flex w-100 justify-content-between">
                <p>
                ID: {{Items.itemId}}<br>
                Name: {{Items.itemName}}<br>
                Description: {{Items.itemDescription}}<br>
                Price: ${{Items.itemPrice}}<br>
                Stock: {{Items.itemStock}}
                </p>
                <img v-bind:src="Items.itemPhoto" height = 150 width = 150 alt="item photo">
                <div class="btn-group-xs">
                  <button class="utilityBtn text-success" v-if="userData != null && userData.manager == 1" v-on:click="selectItem(Items.itemId)">edit</button>
                  <button class="utilityBtn text-success" v-on:click="selectCart(Items.itemId)">add to cart</button>
                  <button class="utilityBtn text-success" v-on:click="selectReviewItem(Items.itemId)">Add review</button>
                  <button class="utilityBtn text-success" v-on:click="fetchReviews(Items.itemId)">reviews</button>
                  <button class="utilityBtn text-danger" v-if="userData != null && userData.manager == 1" v-on:click="deleteItem(Items.itemId)">remove</button>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div v-if="addModal" @close="hideAddModal">
      <div slot="header" class="modal-header">
        add item data
      </div>
      <div slot="body">
        <div class="form-group col-6">
          <!--finish when photo changes arrive-->
          <label for="itemName">Item Name</label>
          <input type="text" id="itemName" name="itemName"><br>
          <label for="itemDescript">Item Description</label>
          <input type="text" id="itemDescript" name="itemDescript"><br>
          <label for="price">Price</label>
          <input type="number" id="price" name="price"><br>
          <label for="itemStock">Stock</label>
          <input type="number" id="itemStock" name="itemStock"><br>
          <input type="file" id="photo" name="photo" accept="image/png, image/jpeg" /><br>
          <button class="utilityBtn text-success" v-on:click="addItem()">add item</button>
          <br><br><p id="addItemResponse"></p> 
        </div>
        <div slot="footer">
          <button type="button" class="btn btn-secondary" v-on:click="hideAddModal()">Close</button>
        </div>
      </div>
    </div>
    <!--function not working in app and connector!-->
    <div v-if="editModal" @close="hideEditModal">
      <div slot="header" class="modal-header">
        Edit item data
      </div>
      <div slot="body">
        <div class="form-group col-6">
          <!--finish when photo changes arrive-->
          <label for="itemName">Item Name</label>
          <input type="text" id="itemName" v-model="selectItem.itemName" name="itemName"><br>
          <label for="itemDescript">Item Description</label>
          <input type="text" id="itemDescript" name="itemDescript"><br>
          <label for="price">Price</label>
          <input type="number" id="price" name="price"><br>
          <label for="itemStock">Stock</label>
          <input type="number" id="itemStock" name="itemStock"><br>
          <input type="file" id="photo" name="photo" accept="image/png, image/jpeg" /><br>
          <!--<input type="text" id="itemPhoto" name="itemPhoto">-->
          
          <button class="utilityBtn text-success" v-on:click="updateItem(selectedItem.itemId)">update</button> 
          <br><br><p id = "editItemResponse"></p>
        </div>
        <div slot="footer">
          <button type="button" class="btn btn-secondary" v-on:click="hideEditModal()">Close</button>
        </div>
      </div>
    </div>
    <div v-if="cartModal" @close="hideCartModal">
      <div slot="header" class="modal-header">
        Add to cart
      </div>
      <div slot="body">
        <div class="form-group col-6">
          <label for="quantity">Quantity</label>
          <input type="number" id="quantity" name="quantity"><br>
          <button class="utilityBtn text-success" v-on:click="addToCart(selectedItem.itemId)">add to cart</button>
          <br><br><p id = "addCartResponse"></p>
        </div>
        <div slot="footer">
          <button type="button" class="btn btn-secondary" v-on:click="hideCartModal()">Close</button>
        </div>
      </div>
    </div>
    <div v-if="addReviewModal" @close="hideAddReviewModal">
      <div slot="header" class="modal-header">
        add review
      </div>
      <div slot="body">
        <div class="form-group col-6">
          <label for="review">review</label>
          <input type="text" id="review" name="review"><br>
          <label for="rating">rating (0-5)</label>
          <input type="number" id="rating" name="rating"><br>
          <button class="utilityBtn text-success" v-on:click="addReview(selectedItem.itemId)">add review</button> 
          <br><br><p id="addReviewResponse"></p>
        </div>
        <div slot="footer">
          <button type="button" class="btn btn-secondary" v-on:click="hideAddReviewModal()">Close</button>
        </div>
      </div>
    </div>
    <div v-if="reviewModal && !editReviewModal" @close="hideReviewModal">
      <div class="header" class="modal-header">
        Reviews
      </div>
      <div slot="body">
        <div class="form-group col-6">
          <div v-if="reviewData != null" id="reviewData">
            <ul class="list-group">
              <div v-for="Reviews in reviewData">
                <li class="list-group-item col-7 mx-auto">
                  <div class="d-flex w-300 justify-content-between">
                    <p>
                    User Id: {{Reviews.userId}}<br>
                    User review: {{Reviews.reviewText}}<br>
                    Item Rating: {{Reviews.reviewRating}}<br>
                    </p>
                    <div>
                      <button class="utilityBtn text-success" v-on:click="selectReview(Reviews.reviewId)">Update review</button>
                      <button class="utilityBtn text-danger" v-on:click="deleteReview(Reviews.reviewId, Reviews.itemId)">Remove review</button>
                    </div>
                  </div>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div slot="footer">
        <button type="button" class="btn btn-secondary" v-on:click="hideReviewModal()">Close</button>
      </div>
    </div>
    <div v-if="editReviewModal" @close="hideEditReviewModal">
      <div slot="header" class="modal-header">
        update review
      </div>
      <div slot="body">
        <div class="form-group col-6">
          <label for="review">Change review</label>
          <input type="text" id="review" name="review"><br>
          <label for="rating"> Change rating (0-5)</label>
          <input type="number" id="rating" name="rating"><br>
          <button class="utilityBtn text-success" v-on:click="updateReview(selectedReview.reviewId, selectedReview.itemId)">Update review</button>
          <br><br><p id="updateReviewResponse"></p> 
        </div>
        <div slot="footer">
          <button type="button" class="btn btn-secondary" v-on:click="hideEditReviewModal()">Close</button>
        </div>
      </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/connector.js" ></script>
  <!--<link rel="stylesheet" href="/static/schools.css"/>-->
</body>
</html>